{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h1 class="titre">Bienvenue sur le site DeadPools!!!</h1>
{% if latest_question_list %}

    <div class="liste">
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    </div>

{% else %}

    <div>
        <p>No polls are available.</p>
    </div>

{% endif %}