li a {
    color: #003b6f;
}

body {
    background: white url("images/background.gif") no-repeat;
    background-size: 100%;
}

.titre{
    color: #003b6f ;
    font-size: 50px;
    font-family: "DejaVu Serif";
    text-align: center;
}

.liste{
    text-align: center;
    font-size: 25px;
}

.liste ul{
    list-style-type: none;
}

.liste ul li{
    padding-top: 25px;
}

.liste ul li a:hover{
    color: aliceblue;
}